@import url("https://api.fontshare.com/css?f[]=general-sans@400,500,600,700&display=swap");
/* veriables
 ============================= 
 */
/*shadows*/
/*
veriables end
=================

// root
*/
:root {
  --primary: #8247e5;
  --success: #5fc92e;
  --info: #2561ed;
  --warning: #ffad0d;
  --error: #ff3236;
  --dark_grey: #49536e;
  --light_grey: #cacdd5;
  --primary-100: #f9f8ff;
  --primary-200: #ece8ff;
  --primary-300: #dcd5ff;
  --primary-400: #a673ef;
  --primary-500: #8247e5;
  --primary-600: #6433c4;
  --primary-700: #4a23a4;
  --primary-800: #331684;
  --primary-900: #220d6d;
  --primary-100: #ebfcd5;
  --primary-200: #d4f9ac;
  --primary-300: #b1ee80;
  --primary-400: #b1ee80;
  --primary-500: #5fc92e;
  --primary-600: #44ac21;
  --primary-700: #2d9017;
  --primary-800: #1a740e;
  --primary-900: #0d6008;
  --primary-100: #d3e5fe;
  --primary-200: #a7c9fd;
  --primary-300: #7ba8f9;
  --primary-400: #598cf4;
  --primary-500: #2561ed;
  --primary-600: #1b4acb;
  --primary-700: #1236aa;
  --primary-800: #1236aa;
  --primary-900: #071971;
  --primary-100: #fff5ce;
  --primary-200: #ffe89e;
  --primary-300: #ffd76d;
  --primary-400: #ffc749;
  --primary-500: #ffad0d;
  --primary-600: #db8c09;
  --primary-700: #b76f06;
  --primary-800: #935404;
  --primary-900: #7a4102;
  --primary-100: #ffe3d6;
  --primary-200: #ffc0ad;
  --primary-300: #ff9783;
  --primary-400: #ff6f65;
  --primary-500: #ff3236;
  --primary-600: #db2438;
  --primary-700: #b71938;
  --primary-800: #930f35;
  --primary-900: #7a0933;
  --primary-100: #fafafb;
  --primary-200: #f5f6f7;
  --primary-300: #eeeff2;
  --primary-400: #e2e4e8;
  --primary-500: #cacdd5;
  --primary-600: #b2b7c2;
  --primary-700: #a4a9b6;
  --primary-800: #959cab;
  --primary-900: #8c93a3;
  --primary-100: #747c90;
  --primary-200: #656e85;
  --primary-300: #5c657d;
  --primary-400: #525c76;
  --primary-500: #49536e;
  --primary-600: #3a4662;
  --primary-700: #2c3857;
  --primary-800: #192648;
  --primary-900: #0f1d40;
}

/*
background-color and test -color class
*/
.primary {
  background-color: #8247e5;
}

.success {
  background-color: #5fc92e;
}

.info {
  background-color: #2561ed;
}

.warning {
  background-color: #ffad0d;
}

.error {
  background-color: #ff3236;
}

.dark_grey {
  background-color: #49536e;
}

.light_grey {
  background-color: #cacdd5;
}

.primary_100 {
  background-color: #f9f8ff;
}

.text_primary_100 {
  color: #f9f8ff;
}

.primary_200 {
  background-color: #ece8ff;
}

.text_primary_200 {
  color: #ece8ff;
}

.primary_300 {
  background-color: #dcd5ff;
}

.text_primary_300 {
  color: #dcd5ff;
}

.primary_400 {
  background-color: #a673ef;
}

.text_primary_400 {
  color: #a673ef;
}

.primary_500 {
  background-color: #8247e5;
}

.text_primary_500 {
  color: #8247e5;
}

.primary_600 {
  background-color: #6433c4;
}

.text_primary_600 {
  color: #6433c4;
}

.primary_700 {
  background-color: #4a23a4;
}

.text_primary_700 {
  color: #4a23a4;
}

.primary_800 {
  background-color: #331684;
}

.text_primary_800 {
  color: #331684;
}

.primary_900 {
  background-color: #220d6d;
}

.text_primary_900 {
  color: #220d6d;
}

.success_100 {
  background-color: #ebfcd5;
}

.text_success_100 {
  color: #ebfcd5;
}

.success_200 {
  background-color: #d4f9ac;
}

.text_success_200 {
  color: #d4f9ac;
}

.success_300 {
  background-color: #b1ee80;
}

.text_success_300 {
  color: #b1ee80;
}

.success_400 {
  background-color: #b1ee80;
}

.text_success_400 {
  color: #b1ee80;
}

.success_500 {
  background-color: #5fc92e;
}

.text_success_500 {
  color: #5fc92e;
}

.success_600 {
  background-color: #44ac21;
}

.text_success_600 {
  color: #44ac21;
}

.success_700 {
  background-color: #2d9017;
}

.text_success_700 {
  color: #2d9017;
}

.success_800 {
  background-color: #1a740e;
}

.text_success_800 {
  color: #1a740e;
}

.success_900 {
  background-color: #0d6008;
}

.text_success_900 {
  color: #0d6008;
}

.info_100 {
  background-color: #d3e5fe;
}

.text_info_100 {
  color: #d3e5fe;
}

.info_200 {
  background-color: #a7c9fd;
}

.text_info_200 {
  color: #a7c9fd;
}

.info_300 {
  background-color: #7ba8f9;
}

.text_info_300 {
  color: #7ba8f9;
}

.info_400 {
  background-color: #598cf4;
}

.text_info_400 {
  color: #598cf4;
}

.info_500 {
  background-color: #2561ed;
}

.text_info_500 {
  color: #2561ed;
}

.info_600 {
  background-color: #1b4acb;
}

.text_info_600 {
  color: #1b4acb;
}

.info_700 {
  background-color: #1236aa;
}

.text_info_700 {
  color: #1236aa;
}

.info_800 {
  background-color: #1236aa;
}

.text_info_800 {
  color: #1236aa;
}

.info_900 {
  background-color: #071971;
}

.text_info_900 {
  color: #071971;
}

.warning_100 {
  background-color: #fff5ce;
}

.text_warning_100 {
  color: #fff5ce;
}

.warning_200 {
  background-color: #ffe89e;
}

.text_warning_200 {
  color: #ffe89e;
}

.warning_300 {
  background-color: #ffd76d;
}

.text_warning_300 {
  color: #ffd76d;
}

.warning_400 {
  background-color: #ffc749;
}

.text_warning_400 {
  color: #ffc749;
}

.warning_500 {
  background-color: #ffad0d;
}

.text_warning_500 {
  color: #ffad0d;
}

.warning_600 {
  background-color: #db8c09;
}

.text_warning_600 {
  color: #db8c09;
}

.warning_700 {
  background-color: #b76f06;
}

.text_warning_700 {
  color: #b76f06;
}

.warning_800 {
  background-color: #935404;
}

.text_warning_800 {
  color: #935404;
}

.warning_900 {
  background-color: #7a4102;
}

.text_warning_900 {
  color: #7a4102;
}

.text_error_100 {
  color: #ffe3d6;
}

.error_100 {
  background-color: #ffe3d6;
}

.text_error_200 {
  color: #ffc0ad;
}

.error_200 {
  background-color: #ffc0ad;
}

.text_error_300 {
  color: #ff9783;
}

.error_300 {
  background-color: #ff9783;
}

.text_error_400 {
  color: #ff6f65;
}

.error_400 {
  background-color: #ff6f65;
}

.text_error_500 {
  color: #ff3236;
}

.error_500 {
  background-color: #ff3236;
}

.text_error_600 {
  color: #db2438;
}

.error_600 {
  background-color: #db2438;
}

.text_error_700 {
  color: #b71938;
}

.error_700 {
  background-color: #b71938;
}

.text_error_800 {
  color: #930f35;
}

.error_800 {
  background-color: #930f35;
}

.text_error_900 {
  color: #7a0933;
}

.error_900 {
  background-color: #7a0933;
}

.dark_grey_100 {
  background-color: #747c90;
}

.text_dark_grey_100 {
  color: #747c90;
}

.dark_grey_200 {
  background-color: #656e85;
}

.text_dark_grey_200 {
  color: #656e85;
}

.dark_grey_300 {
  background-color: #5c657d;
}

.text_dark_grey_300 {
  color: #5c657d;
}

.dark_grey_400 {
  background-color: #525c76;
}

.text_dark_grey_400 {
  color: #525c76;
}

.dark_grey_500 {
  background-color: #49536e;
}

.text_dark_grey_500 {
  color: #49536e;
}

.dark_grey_600 {
  background-color: #3a4662;
}

.text_dark_grey_600 {
  color: #3a4662;
}

.dark_grey_700 {
  background-color: #2c3857;
}

.text_dark_grey_700 {
  color: #2c3857;
}

.dark_grey_800 {
  background-color: #192648;
}

.text_dark_grey_800 {
  color: #192648;
}

.dark_grey_900 {
  background-color: #0f1d40;
}

.text_dark_grey_900 {
  color: #0f1d40;
}

.light_grey_100 {
  background-color: #fafafb;
}

.text_light_grey_100 {
  color: #fafafb;
}

.light_grey_200 {
  background-color: #f5f6f7;
}

.text_light_grey_200 {
  color: #f5f6f7;
}

.light_grey_300 {
  background-color: #eeeff2;
}

.text_light_grey_300 {
  color: #eeeff2;
}

.light_grey_400 {
  background-color: #e2e4e8;
}

.text_light_grey_400 {
  color: #e2e4e8;
}

.light_grey_500 {
  background-color: #cacdd5;
}

.text_light_grey_500 {
  color: #cacdd5;
}

.light_grey_600 {
  background-color: #b2b7c2;
}

.text_light_grey_600 {
  color: #b2b7c2;
}

.light_grey_700 {
  background-color: #a4a9b6;
}

.text_light_grey_700 {
  color: #a4a9b6;
}

.light_grey_800 {
  background-color: #959cab;
}

.text_light_grey_800 {
  color: #959cab;
}

.light_grey_900 {
  background-color: #8c93a3;
}

.text_light_grey_900 {
  color: #8c93a3;
}

.text_primary {
  color: #8247e5;
}

.text_success {
  color: #5fc92e;
}

.text_info {
  color: #2561ed;
}

.text_warning {
  color: #ffad0d;
}

.text_error {
  color: #ff3236;
}

.text_dark_grey {
  color: #49536e;
}

.text_light_grey {
  color: #cacdd5;
}

.font_regular_1 {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.font_regular_2 {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.font_regular_3 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.font_regular_4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.font_regular_5 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.font_regular_6 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.font_regular_7 {
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.font_regular_8 {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.font_regular_9 {
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.font_regular_10 {
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.font_medium_1 {
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}

.font_medium_2 {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}

.font_medium_3 {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}

.font_medium_4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}

.font_medium_5 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}

.font_medium_6 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}

.font_medium_7 {
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}

.font_medium_8 {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}

.font_medium_9 {
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}

.font_medium_10 {
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}

.font_semibold_1 {
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

.font_semibold_2 {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

.font_semibold_3 {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

.font_semibold_4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

.font_semibold_5 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

.font_semibold_6 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

.font_semibold_7 {
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

.font_semibold_8 {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

.font_semibold_9 {
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

.font_semibold_10 {
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

.font_bold_1 {
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.font_bold_2 {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.font_bold_3 {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.font_bold_4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.font_bold_5 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.font_bold_6 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.font_bold_7 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.font_bold_8 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.font_bold_9 {
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.font_bold_10 {
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

/* 
Body  and tags
===================
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "General Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentcellor;
  border: 0;
  opacity: 0.25;
}

hr:not([size]) {
  height: 1px;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.m_0 {
  margin: 0;
}

.mx_0 {
  margin-left: 0;
  margin-right: 0;
}

.my_0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mt_0 {
  margin-top: 0;
}

.mb_0 {
  margin-bottom: 0;
}

.mr_0 {
  margin-right: 0;
}

.ml_0 {
  margin-left: 0;
}

.m_1 {
  margin: 0.25rem;
}

.mx_1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.my_1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.mt_1 {
  margin-top: 0.25rem;
}

.mb_1 {
  margin-bottom: 0.25rem;
}

.mr_1 {
  margin-right: 0.25rem;
}

.ml_1 {
  margin-left: 0.25rem;
}

.m_2 {
  margin: 0.5rem;
}

.mx_2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my_2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mt_2 {
  margin-top: 0.5rem;
}

.mb_2 {
  margin-bottom: 0.5rem;
}

.mr_2 {
  margin-right: 0.5rem;
}

.ml_2 {
  margin-left: 0.5rem;
}

.m_3 {
  margin: 0.75rem;
}

.mx_3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.my_3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.mt_3 {
  margin-top: 0.75rem;
}

.mb_3 {
  margin-bottom: 0.75rem;
}

.mr_3 {
  margin-right: 0.75rem;
}

.ml_3 {
  margin-left: 0.75rem;
}

.m_4 {
  margin: 1rem;
}

.mx_4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my_4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mt_4 {
  margin-top: 1rem;
}

.mb_4 {
  margin-bottom: 1rem;
}

.mr_4 {
  margin-right: 1rem;
}

.ml_4 {
  margin-left: 1rem;
}

.m_5 {
  margin: 1.125rem;
}

.mx_5 {
  margin-left: 1.125rem;
  margin-right: 1.125rem;
}

.my_5 {
  margin-top: 1.125rem;
  margin-bottom: 1.125rem;
}

.mt_5 {
  margin-top: 1.125rem;
}

.mb_5 {
  margin-bottom: 1.125rem;
}

.mr_5 {
  margin-right: 1.125rem;
}

.ml_5 {
  margin-left: 1.125rem;
}

.m_6 {
  margin: 1.25rem;
}

.mx_6 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.my_6 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.mt_6 {
  margin-top: 1.25rem;
}

.mb_6 {
  margin-bottom: 1.25rem;
}

.mr_6 {
  margin-right: 1.25rem;
}

.ml_6 {
  margin-left: 1.25rem;
}

.m_7 {
  margin: 1.5rem;
}

.mx_7 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my_7 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mt_7 {
  margin-top: 1.5rem;
}

.mb_7 {
  margin-bottom: 1.5rem;
}

.mr_7 {
  margin-right: 1.5rem;
}

.ml_7 {
  margin-left: 1.5rem;
}

.m_8 {
  margin: 1.75rem;
}

.mx_8 {
  margin-left: 1.75rem;
  margin-right: 1.75rem;
}

.my_8 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.mt_8 {
  margin-top: 1.75rem;
}

.mb_8 {
  margin-bottom: 1.75rem;
}

.mr_8 {
  margin-right: 1.75rem;
}

.ml_8 {
  margin-left: 1.75rem;
}

.m_9 {
  margin: 2rem;
}

.mx_9 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my_9 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mt_9 {
  margin-top: 2rem;
}

.mb_9 {
  margin-bottom: 2rem;
}

.mr_9 {
  margin-right: 2rem;
}

.ml_9 {
  margin-left: 2rem;
}

.m_10 {
  margin: 2.5rem;
}

.mx_10 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.my_10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.mt_10 {
  margin-top: 2.5rem;
}

.mb_10 {
  margin-bottom: 2.5rem;
}

.mr_10 {
  margin-right: 2.5rem;
}

.ml_10 {
  margin-left: 2.5rem;
}

.m_11 {
  margin: 2.625rem;
}

.mx_11 {
  margin-left: 2.625rem;
  margin-right: 2.625rem;
}

.my_11 {
  margin-top: 2.625rem;
  margin-bottom: 2.625rem;
}

.mt_11 {
  margin-top: 2.625rem;
}

.mb_11 {
  margin-bottom: 2.625rem;
}

.mr_11 {
  margin-right: 2.625rem;
}

.ml_11 {
  margin-left: 2.625rem;
}

.m_12 {
  margin: 3.5rem;
}

.mx_12 {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

.my_12 {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.mt_12 {
  margin-top: 3.5rem;
}

.mb_12 {
  margin-bottom: 3.5rem;
}

.mr_12 {
  margin-right: 3.5rem;
}

.ml_12 {
  margin-left: 3.5rem;
}

.m_13 {
  margin: 4rem;
}

.mx_13 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.my_13 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.mt_13 {
  margin-top: 4rem;
}

.mb_13 {
  margin-bottom: 4rem;
}

.mr_13 {
  margin-right: 4rem;
}

.ml_13 {
  margin-left: 4rem;
}

.m_14 {
  margin: 4.5rem;
}

.mx_14 {
  margin-left: 4.5rem;
  margin-right: 4.5rem;
}

.my_14 {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}

.mt_14 {
  margin-top: 4.5rem;
}

.mb_14 {
  margin-bottom: 4.5rem;
}

.mr_14 {
  margin-right: 4.5rem;
}

.ml_14 {
  margin-left: 4.5rem;
}

.p_0 {
  padding: 0;
}

.px_0 {
  padding-left: 0;
  padding-right: 0;
}

.py_0 {
  padding-top: 0;
  padding-bottom: 0;
}

.pt_0 {
  padding-top: 0;
}

.pb_0 {
  padding-bottom: 0;
}

.pr_0 {
  padding-right: 0;
}

.pl_0 {
  padding-left: 0;
}

.p_1 {
  padding: 0.25rem;
}

.px_1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.py_1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.pt_1 {
  padding-top: 0.25rem;
}

.pb_1 {
  padding-bottom: 0.25rem;
}

.pr_1 {
  padding-right: 0.25rem;
}

.pl_1 {
  padding-left: 0.25rem;
}

.p_2 {
  padding: 0.5rem;
}

.px_2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py_2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pt_2 {
  padding-top: 0.5rem;
}

.pb_2 {
  padding-bottom: 0.5rem;
}

.pr_2 {
  padding-right: 0.5rem;
}

.pl_2 {
  padding-left: 0.5rem;
}

.p_3 {
  padding: 0.75rem;
}

.px_3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py_3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.pt_3 {
  padding-top: 0.75rem;
}

.pb_3 {
  padding-bottom: 0.75rem;
}

.pr_3 {
  padding-right: 0.75rem;
}

.pl_3 {
  padding-left: 0.75rem;
}

.p_4 {
  padding: 1rem;
}

.px_4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py_4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pt_4 {
  padding-top: 1rem;
}

.pb_4 {
  padding-bottom: 1rem;
}

.pr_4 {
  padding-right: 1rem;
}

.pl_4 {
  padding-left: 1rem;
}

.p_5 {
  padding: 1.125rem;
}

.px_5 {
  padding-left: 1.125rem;
  padding-right: 1.125rem;
}

.py_5 {
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
}

.pt_5 {
  padding-top: 1.125rem;
}

.pb_5 {
  padding-bottom: 1.125rem;
}

.pr_5 {
  padding-right: 1.125rem;
}

.pl_5 {
  padding-left: 1.125rem;
}

.p_6 {
  padding: 1.25rem;
}

.px_6 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py_6 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.pt_6 {
  padding-top: 1.25rem;
}

.pb_6 {
  padding-bottom: 1.25rem;
}

.pr_6 {
  padding-right: 1.25rem;
}

.pl_6 {
  padding-left: 1.25rem;
}

.p_7 {
  padding: 1.5rem;
}

.px_7 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py_7 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.pt_7 {
  padding-top: 1.5rem;
}

.pb_7 {
  padding-bottom: 1.5rem;
}

.pr_7 {
  padding-right: 1.5rem;
}

.pl_7 {
  padding-left: 1.5rem;
}

.p_8 {
  padding: 1.75rem;
}

.px_8 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.py_8 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.pt_8 {
  padding-top: 1.75rem;
}

.pb_8 {
  padding-bottom: 1.75rem;
}

.pr_8 {
  padding-right: 1.75rem;
}

.pl_8 {
  padding-left: 1.75rem;
}

.p_9 {
  padding: 2rem;
}

.px_9 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py_9 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pt_9 {
  padding-top: 2rem;
}

.pb_9 {
  padding-bottom: 2rem;
}

.pr_9 {
  padding-right: 2rem;
}

.pl_9 {
  padding-left: 2rem;
}

.p_10 {
  padding: 2.5rem;
}

.px_10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.py_10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.pt_10 {
  padding-top: 2.5rem;
}

.pb_10 {
  padding-bottom: 2.5rem;
}

.pr_10 {
  padding-right: 2.5rem;
}

.pl_10 {
  padding-left: 2.5rem;
}

.p_11 {
  padding: 2.625rem;
}

.px_11 {
  padding-left: 2.625rem;
  padding-right: 2.625rem;
}

.py_11 {
  padding-top: 2.625rem;
  padding-bottom: 2.625rem;
}

.pt_11 {
  padding-top: 2.625rem;
}

.pb_11 {
  padding-bottom: 2.625rem;
}

.pr_11 {
  padding-right: 2.625rem;
}

.pl_11 {
  padding-left: 2.625rem;
}

.p_12 {
  padding: 3.5rem;
}

.px_12 {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.py_12 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.pt_12 {
  padding-top: 3.5rem;
}

.pb_12 {
  padding-bottom: 3.5rem;
}

.pr_12 {
  padding-right: 3.5rem;
}

.pl_12 {
  padding-left: 3.5rem;
}

.p_13 {
  padding: 4rem;
}

.px_13 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.py_13 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.pt_13 {
  padding-top: 4rem;
}

.pb_13 {
  padding-bottom: 4rem;
}

.pr_13 {
  padding-right: 4rem;
}

.pl_13 {
  padding-left: 4rem;
}

.p_14 {
  padding: 4.5rem;
}

.px_14 {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.py_14 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.pt_14 {
  padding-top: 4.5rem;
}

.pb_14 {
  padding-bottom: 4.5rem;
}

.pr_14 {
  padding-right: 4.5rem;
}

.pl_14 {
  padding-left: 4.5rem;
}

.border_0 {
  border: 0 solid;
  border-color: #999;
}

.border_1 {
  border: 1px solid;
  border-color: #999;
}

.border_2 {
  border: 2px solid;
  border-color: #999;
}

.border_3 {
  border: 3px solid;
  border-color: #999;
}

.border_4 {
  border: 4px solid;
  border-color: #999;
}

.border_5 {
  border: 5px solid;
  border-color: #999;
}

.border {
  border: 1px solid #999;
}

.border_top {
  border-top: 1px solid #999;
}

.border_bottom {
  border-bottom: 1px solid #999;
}

.border_left {
  border-left: 1px solid #999;
}

.border_right {
  border-right: 1px solid #999;
}

.border_primary {
  border-color: #8247e5;
}

.border_success {
  border-color: #5fc92e;
}

.border_info {
  border-color: #2561ed;
}

.border_warning {
  border-color: #ffad0d;
}

.border_error {
  border-color: #ff3236;
}

.border_dark_grey {
  border-color: #49536e;
}

.border_light_grey {
  border-color: #cacdd5;
}

.radius_6 {
  border-radius: 0.375rem;
}

.radius_12 {
  border-radius: 0.75rem;
}

.rounded {
  border-radius: 1.5rem;
}

.radius_left_cap {
  border-radius: 0px 1.5rem 1.5rem 0px;
}

.radius_right_cap {
  border-radius: 1.5rem 0px 0px 1.5rem;
}

.width_1 {
  width: 1%;
}

.width_2 {
  width: 2%;
}

.width_3 {
  width: 3%;
}

.width_4 {
  width: 4%;
}

.width_5 {
  width: 5%;
}

.width_6 {
  width: 6%;
}

.width_7 {
  width: 7%;
}

.width_8 {
  width: 8%;
}

.width_9 {
  width: 9%;
}

.width_10 {
  width: 10%;
}

.width_11 {
  width: 11%;
}

.width_12 {
  width: 12%;
}

.width_13 {
  width: 13%;
}

.width_14 {
  width: 14%;
}

.width_15 {
  width: 15%;
}

.width_16 {
  width: 16%;
}

.width_17 {
  width: 17%;
}

.width_18 {
  width: 18%;
}

.width_19 {
  width: 19%;
}

.width_20 {
  width: 20%;
}

.width_21 {
  width: 21%;
}

.width_22 {
  width: 22%;
}

.width_23 {
  width: 23%;
}

.width_24 {
  width: 24%;
}

.width_25 {
  width: 25%;
}

.width_26 {
  width: 26%;
}

.width_27 {
  width: 27%;
}

.width_28 {
  width: 28%;
}

.width_29 {
  width: 29%;
}

.width_30 {
  width: 30%;
}

.width_31 {
  width: 31%;
}

.width_32 {
  width: 32%;
}

.width_33 {
  width: 33%;
}

.width_34 {
  width: 34%;
}

.width_35 {
  width: 35%;
}

.width_36 {
  width: 36%;
}

.width_37 {
  width: 37%;
}

.width_38 {
  width: 38%;
}

.width_39 {
  width: 39%;
}

.width_40 {
  width: 40%;
}

.width_41 {
  width: 41%;
}

.width_42 {
  width: 42%;
}

.width_43 {
  width: 43%;
}

.width_44 {
  width: 44%;
}

.width_45 {
  width: 45%;
}

.width_46 {
  width: 46%;
}

.width_47 {
  width: 47%;
}

.width_48 {
  width: 48%;
}

.width_49 {
  width: 49%;
}

.width_50 {
  width: 50%;
}

.width_51 {
  width: 51%;
}

.width_52 {
  width: 52%;
}

.width_53 {
  width: 53%;
}

.width_54 {
  width: 54%;
}

.width_55 {
  width: 55%;
}

.width_56 {
  width: 56%;
}

.width_57 {
  width: 57%;
}

.width_58 {
  width: 58%;
}

.width_59 {
  width: 59%;
}

.width_60 {
  width: 60%;
}

.width_61 {
  width: 61%;
}

.width_62 {
  width: 62%;
}

.width_63 {
  width: 63%;
}

.width_64 {
  width: 64%;
}

.width_65 {
  width: 65%;
}

.width_66 {
  width: 66%;
}

.width_67 {
  width: 67%;
}

.width_68 {
  width: 68%;
}

.width_69 {
  width: 69%;
}

.width_70 {
  width: 70%;
}

.width_71 {
  width: 71%;
}

.width_72 {
  width: 72%;
}

.width_73 {
  width: 73%;
}

.width_74 {
  width: 74%;
}

.width_75 {
  width: 75%;
}

.width_76 {
  width: 76%;
}

.width_77 {
  width: 77%;
}

.width_78 {
  width: 78%;
}

.width_79 {
  width: 79%;
}

.width_80 {
  width: 80%;
}

.width_81 {
  width: 81%;
}

.width_82 {
  width: 82%;
}

.width_83 {
  width: 83%;
}

.width_84 {
  width: 84%;
}

.width_85 {
  width: 85%;
}

.width_86 {
  width: 86%;
}

.width_87 {
  width: 87%;
}

.width_88 {
  width: 88%;
}

.width_89 {
  width: 89%;
}

.width_90 {
  width: 90%;
}

.width_91 {
  width: 91%;
}

.width_92 {
  width: 92%;
}

.width_93 {
  width: 93%;
}

.width_94 {
  width: 94%;
}

.width_95 {
  width: 95%;
}

.width_96 {
  width: 96%;
}

.width_97 {
  width: 97%;
}

.width_98 {
  width: 98%;
}

.width_99 {
  width: 99%;
}

.height_20 {
  height: 50px;
}

/* 
Layout 
===================
*/
.container {
  width: 90%;
  margin: 0 auto;
  padding: 0 1rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 1rem 0;
}

.display_block {
  display: block;
}

.display_inline {
  display: inline;
}

.display_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.display_inline_block {
  display: inline-block;
}

.display_grid {
  display: -ms-grid;
  display: grid;
}

.display_none {
  display: none;
}

.float_left {
  float: "left";
}

.float_right {
  float: "right";
}

.float_none {
  float: "none";
}

.flex_1 {
  -webkit-box-flex: "1 1 0%";
      -ms-flex: "1 1 0%";
          flex: "1 1 0%";
}

.flex_auto {
  -webkit-box-flex: "1 1 auto";
      -ms-flex: "1 1 auto";
          flex: "1 1 auto";
}

.flex_initial {
  -webkit-box-flex: "0 1 auto";
      -ms-flex: "0 1 auto";
          flex: "0 1 auto";
}

.flex_none {
  -webkit-box-flex: "none";
      -ms-flex: "none";
          flex: "none";
}

.flex_dir_row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex_dir_row_reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.flex_dir_cellumn_reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: cellumn-reverse;
          flex-direction: cellumn-reverse;
}

.flex_dir_cellumn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: cellumn;
          flex-direction: cellumn;
}

.justify_flex_start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify_flex_end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify_center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify_space_between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify_space_around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.align_flex-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align_flex-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.align_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text_align_flex-start {
  text-align: flex-start;
}

.text_align_flex-end {
  text-align: flex-end;
}

.text_align_center {
  text-align: center;
}

@media (min-width: 0) {
  .cell_1_xs {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
  }
  .cell_2_xs {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
  }
  .cell_3_xs {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .cell_4_xs {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
  }
  .cell_5_xs {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
  }
  .cell_6_xs {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .cell_7_xs {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
  }
  .cell_8_xs {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
  }
  .cell_9_xs {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
  .cell_10_xs {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
  }
  .cell_11_xs {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
  }
  .cell_12_xs {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (min-width: 414px) {
  .cell_1_sm {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
  }
  .cell_2_sm {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
  }
  .cell_3_sm {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .cell_4_sm {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
  }
  .cell_5_sm {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
  }
  .cell_6_sm {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .cell_7_sm {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
  }
  .cell_8_sm {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
  }
  .cell_9_sm {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
  .cell_10_sm {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
  }
  .cell_11_sm {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
  }
  .cell_12_sm {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (min-width: 600px) {
  .cell_1_md {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
  }
  .cell_2_md {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
  }
  .cell_3_md {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .cell_4_md {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
  }
  .cell_5_md {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
  }
  .cell_6_md {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .cell_7_md {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
  }
  .cell_8_md {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
  }
  .cell_9_md {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
  .cell_10_md {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
  }
  .cell_11_md {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
  }
  .cell_12_md {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (min-width: 1024px) {
  .cell_1_lg {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
  }
  .cell_2_lg {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
  }
  .cell_3_lg {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .cell_4_lg {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
  }
  .cell_5_lg {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
  }
  .cell_6_lg {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .cell_7_lg {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
  }
  .cell_8_lg {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
  }
  .cell_9_lg {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
  .cell_10_lg {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
  }
  .cell_11_lg {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
  }
  .cell_12_lg {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (min-width: 1280px) {
  .cell_1_xl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
  }
  .cell_2_xl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
  }
  .cell_3_xl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .cell_4_xl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
  }
  .cell_5_xl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
  }
  .cell_6_xl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .cell_7_xl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
  }
  .cell_8_xl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
  }
  .cell_9_xl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
  .cell_10_xl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
  }
  .cell_11_xl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
  }
  .cell_12_xl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (min-width: 1440px) {
  .cell_1_xxl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
  }
  .cell_2_xxl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
  }
  .cell_3_xxl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .cell_4_xxl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
  }
  .cell_5_xxl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
  }
  .cell_6_xxl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .cell_7_xxl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
  }
  .cell_8_xxl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
  }
  .cell_9_xxl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
  .cell_10_xxl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
  }
  .cell_11_xxl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
  }
  .cell_12_xxl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (min-width: 1920px) {
  .cell_1_xxxl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
  }
  .cell_2_xxxl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
  }
  .cell_3_xxxl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .cell_4_xxxl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
  }
  .cell_5_xxxl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
  }
  .cell_6_xxxl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .cell_7_xxxl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
  }
  .cell_8_xxxl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
  }
  .cell_9_xxxl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
  .cell_10_xxxl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
  }
  .cell_11_xxxl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
  }
  .cell_12_xxxl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.gap_0 > * {
  padding: 0;
}

.gap_0 {
  margin-left: 0;
  margin-right: 0;
}

.gap_1 > * {
  padding: 10px;
}

.gap_1 {
  margin-left: -10px;
  margin-right: -10px;
}

.gap_2 > * {
  padding: 20px;
}

.gap_2 {
  margin-left: -20px;
  margin-right: -20px;
}

.gap_3 > * {
  padding: 30px;
}

.gap_3 {
  margin-left: -30px;
  margin-right: -30px;
}

/* 
Link
===================
*/
.link {
  text-decoration: none;
  color: #2561ed;
}

.link:hover {
  color: #7ba8f9;
}

.link_underline {
  text-decoration: underline;
  color: #2561ed;
}

.link_underline:hover {
  color: #7ba8f9;
}

.link_primary {
  color: #8247e5;
  text-decoration: none;
}

.link_primary:hover {
  color: #dcd5ff;
}

.link_success {
  color: #5fc92e;
  text-decoration: none;
}

.link_success:hover {
  color: #b1ee80;
}

.link_info {
  color: #2561ed;
  text-decoration: none;
}

.link_info:hover {
  color: #7ba8f9;
}

.link_warning {
  color: #ffad0d;
  text-decoration: none;
}

.link_warning:hover {
  color: #ffd76d;
}

.link_error {
  color: #ff3236;
  text-decoration: none;
}

.link_error:hover {
  color: #ff9783;
}

.link_dark_grey {
  color: #49536e;
  text-decoration: none;
}

.link_dark_grey:hover {
  color: #5c657d;
}

.link_light_grey {
  color: #cacdd5;
  text-decoration: none;
}

.link_light_grey:hover {
  color: #eeeff2;
}

/* 
Button 
===================
*/
@media (min-width: 0) {
  .btn {
    font-size: 12px;
  }
}

@media (min-width: 600px) {
  .btn {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .btn {
    font-size: 16px;
  }
}

button:disabled,
button [disabled] {
  background-color: #e5e5e5;
  cursor: not-allowed;
  pointer-events: none;
}

.btn {
  display: inline-block;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  font-weight: 600;
  padding: 0.625rem 1rem;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
  border: 0;
  border: none;
}

.btn:disabled,
.btn [disabled], .btn.disabled,
fieldset:disabled .btn {
  background-color: #e2e4e8;
  color: #b2b7c2;
  border: 0;
  pointer-events: none;
}

.btn_primary {
  color: white;
  background-color: #8247e5;
}

.btn_success {
  color: white;
  background-color: #5fc92e;
}

.btn_info {
  color: white;
  background-color: #2561ed;
}

.btn_warning {
  color: white;
  background-color: #ffad0d;
}

.btn_error {
  color: white;
  background-color: #ff3236;
}

.btn_dark_grey {
  color: white;
  background-color: #49536e;
}

.btn_light_grey {
  color: black;
  background-color: #cacdd5;
}

.btn_primary:hover {
  background-color: #a673ef;
}

.btn_success:hover {
  background-color: #b1ee80;
}

.btn_info:hover {
  background-color: #598cf4;
}

.btn_warning:hover {
  background-color: #ffc749;
}

.btn_error:hover {
  background-color: #ff6f65;
}

.btn_dark_grey:hover {
  background-color: #525c76;
}

.btn_light_grey:hover {
  background-color: #e2e4e8;
}

.btn_border_primary {
  color: #8247e5;
  border: 1px solid #8247e5;
}

.btn_border_success {
  color: #5fc92e;
  border: 1px solid #5fc92e;
}

.btn_border_info {
  color: #2561ed;
  border: 1px solid #2561ed;
}

.btn_border_warning {
  color: #ffad0d;
  border: 1px solid #ffad0d;
}

.btn_border_error {
  color: #ff3236;
  border: 1px solid #ff3236;
}

.btn_border_dark_grey {
  color: #49536e;
  border: 1px solid #49536e;
}

.btn_border_light_grey {
  color: #cacdd5;
  border: 1px solid #cacdd5;
}

.btn_border_primary:hover {
  border-color: #a673ef;
  color: #a673ef;
  background-color: #f9f8ff;
}

.btn_border_success:hover {
  border-color: #b1ee80;
  color: #b1ee80;
  background-color: #ebfcd5;
}

.btn_border_info:hover {
  border-color: #598cf4;
  color: #598cf4;
  background-color: #d3e5fe;
}

.btn_border_warning:hover {
  border-color: #ffc749;
  color: #ffc749;
  background-color: #fff5ce;
}

.btn_border_error:hover {
  border-color: #ff6f65;
  color: #ff6f65;
  background-color: #ffe3d6;
}

.btn_border_dark_grey:hover {
  border-color: #525c76;
  color: #525c76;
  background-color: #747c90;
}

.btn_border_light_grey:hover {
  border-color: #e2e4e8;
  color: #e2e4e8;
  background-color: #fafafb;
}

.btn_outline_primary {
  color: #8247e5;
  border: 1px solid #8247e5;
}

.btn_outline_success {
  color: #5fc92e;
  border: 1px solid #5fc92e;
}

.btn_outline_info {
  color: #2561ed;
  border: 1px solid #2561ed;
}

.btn_outline_warning {
  color: #ffad0d;
  border: 1px solid #ffad0d;
}

.btn_outline_error {
  color: #ff3236;
  border: 1px solid #ff3236;
}

.btn_outline_dark_grey {
  color: #49536e;
  border: 1px solid #49536e;
}

.btn_outline_light_grey {
  color: #cacdd5;
  border: 1px solid #cacdd5;
}

.btn_outline_primary:hover {
  border-color: #a673ef;
  color: #a673ef;
  background-color: #f9f8ff;
}

.btn_outline_success:hover {
  border-color: #b1ee80;
  color: #b1ee80;
  background-color: #ebfcd5;
}

.btn_outline_info:hover {
  border-color: #598cf4;
  color: #598cf4;
  background-color: #d3e5fe;
}

.btn_outline_warning:hover {
  border-color: #ffc749;
  color: #ffc749;
  background-color: #fff5ce;
}

.btn_outline_error:hover {
  border-color: #ff6f65;
  color: #ff6f65;
  background-color: #ffe3d6;
}

.btn_outline_dark_grey:hover {
  border-color: #525c76;
  color: #525c76;
  background-color: #747c90;
}

.btn_outline_light_grey:hover {
  border-color: #e2e4e8;
  color: #e2e4e8;
  background-color: #fafafb;
}

.btn :active,
.active {
  color: blueviolet;
  background-color: brown;
}

/* 
Label 
===================
*/
label {
  size: 1.25px;
  line-height: 2rem;
  font-weight: 600;
}

.input,
.textarea {
  margin: 0.5rem;
  border: 1px solid #e2e4e8;
  border-radius: 0.375rem;
  font-weight: 600;
  font-family: inherit;
  line-height: 160%;
  width: 375px;
  outline: none;
  resize: auto;
}

.input:focus,
.textarea:focus {
  border: 1px solid #8247e5;
  -webkit-box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.12), 0px 0px 0px 3px #dcd4ff;
          box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.12), 0px 0px 0px 3px #dcd4ff;
  color: #0f1d40;
}

.input:disabled, .input.disabled,
.textarea:disabled,
.textarea.disabled {
  background-color: #e2e4e8;
  color: #b2b7c2;
  border: 0;
  pointer-events: none;
}

@media (min-width: 0) {
  input {
    height: 32px;
    font-size: 12px;
    padding: 0 0.5rem;
  }
  textarea {
    height: 96px;
    padding: 0 0.5rem;
  }
}

@media (min-width: 600px) {
  input {
    height: 40px;
    font-size: 14px;
    padding: 0 0.75rem;
  }
  textarea {
    height: 96px;
    padding: 0 0.75rem;
  }
}

@media (min-width: 1280px) {
  input {
    height: 48px;
    font-size: 16px;
    padding: 0 0.875rem;
  }
  textarea {
    padding: 0 0.875rem;
    height: 135px;
  }
}

.field_resting {
  border: 1px solid #e2e4e8;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.field_resting:focus {
  border: 1px solid #e2e4e8;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.field_active {
  border: 1px solid #8247e5;
  -webkit-box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.12), 0px 0px 0px 3px #dcd4ff;
          box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.12), 0px 0px 0px 3px #dcd4ff;
}

.field_success {
  border: 1px solid #5fc92e;
  -webkit-box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.12), 0px 0px 0px 3px #bdf0e0;
          box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.12), 0px 0px 0px 3px #bdf0e0;
}

.field_success:focus {
  border: 1px solid #5fc92e;
  -webkit-box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.12), 0px 0px 0px 3px #bdf0e0;
          box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.12), 0px 0px 0px 3px #bdf0e0;
}

.field_warning {
  border: 1px solid #ffad0d;
  -webkit-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.12), 0px 0px 0px 3px #ffdfdf;
          box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.12), 0px 0px 0px 3px #ffdfdf;
}

.field_warning:focus {
  border: 1px solid #ffad0d;
  -webkit-box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.12), 0px 0px 0px 3px #ffdfdf;
          box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.12), 0px 0px 0px 3px #ffdfdf;
}
/*# sourceMappingURL=index.css.map */